Does the NMDA architecture need to use RFC 2119 language?

Andy raised on 15/9/17:

I also strongly disagree with the decision to omit RFC 2119 in a standards
track document. IMO RFC 2119 terms need to be used in normative text,
especially when dealing with XPath and YANG compiler behavior.

Juergen, Sat, 16 Sep 2017 09:24:03 +0200:

RFC 8174:

   o  These words can be used as defined here, but using them is not
      required.  Specifically, normative text does not require the use
      of these key words.  They are used for clarity and consistency
      when that is what's wanted, but a lot of normative text does not
      use them and is still normative.


As document Shepherd I agree with this comment with respect to XPath.

Lou


On September 18, 2017 12:00:17 PM Robert Wilton <notifications@github.com> 
wrote:

> Andy raised on 15/9/17:
>
> I also strongly disagree with the decision to omit RFC 2119 in a standards
> track document. IMO RFC 2119 terms need to be used in normative text,
> especially when dealing with XPath and YANG compiler behavior.
>
> --
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly or view it on GitHub:
> https://github.com/netmod-wg/datastore-dt/issues/14


The usage of RFC 2119 language is highly subjective. I think there is
an entire section on xpath contexts in RFC 7950 which does not use RFC
2119 language (and which this document is clarifying). It seems to be
a random subjective rule that text concerning xpath needs to use RFC
2119 language (and this is also how I have seen IESG discussions
concerning must vs MUST - all highly subjective).

/js

On Wed, Sep 20, 2017 at 06:18:05AM -0700, Lou Berger wrote:
> As document Shepherd I agree with this comment with respect to XPath.
> 
> Lou
> 
> 
> On September 18, 2017 12:00:17 PM Robert Wilton <notifications@github.com> 
> wrote:
> 
> > Andy raised on 15/9/17:
> >
> > I also strongly disagree with the decision to omit RFC 2119 in a standards
> > track document. IMO RFC 2119 terms need to be used in normative text,
> > especially when dealing with XPath and YANG compiler behavior.
> >
> > --
> > You are receiving this because you are subscribed to this thread.
> > Reply to this email directly or view it on GitHub:
> > https://github.com/netmod-wg/datastore-dt/issues/14
> 
> 
> -- 
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly or view it on GitHub:
> https://github.com/netmod-wg/datastore-dt/issues/14#issuecomment-330848298

-- 
Juergen Schoenwaelder           Jacobs University Bremen gGmbH
Phone: +49 421 200 3587         Campus Ring 1 | 28759 Bremen | Germany
Fax:   +49 421 200 3103         <http://www.jacobs-university.de/>


See how big a change this would be to the draft.

On 09/20/2017 10:21 AM, Robert Wilton wrote:
> Investigate how many places will be affected.
> 
> —
> You are receiving this because you commented.
> Reply to this email directly, view it on GitHub
> <https://github.com/netmod-wg/datastore-dt/issues/14#issuecomment-330866885>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AGRWyC3wm7QgbpsP8uFPmibUAbOlaN31ks5skR9YgaJpZM4PbI6T>.
> 
At least section 5.1, perhaps also related to required data stores.



Note that section 5.1 is modelled after section 6.4.1 in RFC 7950.  It defines what the accessible tree is, and there is no requirements language for clients or servers there.

We try and put 2119 language in.

An initial attempt at #fab7a9d

Initial changes to RFC 2119 is complete awaiting review from the WG.

Re-opening until the WG has had the change to review the changes.

No objections from the WG on the current text.