Make it clear that validation of intended includes default values

Balazs raised on 14/9/17:

CH 4.4.)  "Validation is performed on  the contents of <intended>." This to me means that default data is not considered at validation which would be a backwards incompatible change. Also if validation does not consider system configured data that would allow cases like multiple interfaces named lo0. One from <intended> one from system configuration. IMHO while it is OK to violate uniqueness because of remnant data, the above violation of uniqueness seems a bad idea. 

Martin: 

Note that RFC 7950, section 6.4.1, says:

   In the accessible tree, all leafs and leaf-lists with default values
   in use exist (see Sections 7.6.1 and 7.7.2).

So defaults are taken into account when intended is validated.

BALAZS: Yes the two seem to contradict each other. This can be understood in your way, however the current text is not clear enough. I would add:
Validation is performed on the contents of <intended> (EXTENDED WITH DEFAULT CONFIGURATION). 

RobW:
As an alternative suggestion, rather than saying contents of <intended>, we could instead say something like "<intended> must always be a valid configuration data tree.".  Is that better?  I would rather not talk about "defaults for <intended> since that may imply that they are not applicable to other configuration datastores".  E.g. if <running> is validated then you would also expect defaults to be considered.  Ditto for startup, candidate.

RobW:
> Also if validation does not consider system configured data that would allow cases like multiple interfaces named lo0. One from <intended> one from system configuration. IMHO while it is OK to violate uniqueness because of remnant data, the above violation of uniqueness seems a bad idea.

When we have been previously discussed this as part of the design team, we wanted the invariant that <running>/<intended> should not be able to become invalid due to an external change in the system (e.g. a linecard is removed or changed, or the device has run out of some resource).  I think that the corollary to this is that when the existing NETCONF validation is performed, the validation must not take into account anything specific to the device that could change due to some external event (e.g. linecard is changed etc).  So this means that a valid configuration just represents what could be applied to the device, if enough resources were available, and the correct types of linecards had been populated and were working, etc.

But often, clients want more than this.  They don't want to just know whether the configuration could theoretically work, but actually want to know whether the device anticipates that it will be able to enact the configuration successfully.  So, I think that NETCONF actually also needs a separate "should apply ok" extension RPC.  This "should apply ok" RPC would do everything that validate does today, but can also do many more checks to try and ensure that the configuration change is likely to be successful applied to <operational> (e.g. check that the necessary hardware is present and working, licenses have been enabled, resources are available, etc).  Obviously, this "should apply ok" invariant would not necessarily always hold for the configuration datastores.  An engineer may pull out a linecard that means that configuration currently in <running>/<intended> is valid (as is required in RFC 7950), but would not be applied successfully due to the missing hardware.

But I also think that this is beyond the scope of the current NMDA architecture, but perhaps something that could be specified by a separate draft, if others also think that this would be useful to standardize? 

Propose that this is covered by RobW's updated text describing intended, see issue https://github.com/netmod-wg/datastore-dt/issues/3

Fixed in commit ac1f02b.