Define how action statements and RPCs apply in the NMDA architecture

Andy raised this issue via the "augment YANG 1.0 with YANG 1.1 OK?" thread:

Can you spot the NMDA problem above?
Actually, it exists for in-line definitions, not just augment.

Once you collapse the interfaces-state tree into /interfaces, there is no way to
specify whether an action is intended for <operational> or a configuration datastore,
or all datastores.

The parent container or list may be config=true just because the foo-state tree
was taken away, and the moved action effectively changed from config=false to config=true.

There is no way for the YANG action-stmt to specify a datastore (or config-stmt)
There is no way for the <action> operation to specify a datastore.

Proposed resolution text:

Hi ,

Separating out the issue regarding which datastore action and RPC apply to, we propose the following NEW text to the datastores draft:

6.2 Invocation of Actions and RPC Operations

  This section updates section 7.15. of RFC 7950.

  In YANG data models, the "action" statement may appear under "config
  true" and "config false" schema nodes.  While instances of both
  schema nodes may appear in <operational>, instances of "config true"
  schema nodes may also appear in other datastores.

  An NMDA compliant server MUST execute all actions in the context of
  <operational>.  Likewise, an NMDA compliant server MUST invoke all RPC
  operations in the context of <operational>, unless the RPC is explicitly
  defined as affecting other datastores (e.g., <edit-config>).

OK?

Thanks,
Rob

Closed with 1513a8b and d2991ff.